.button-form
{
  background-color: black;
  color: white;
  margin: 0 auto;
}

.form-error
{
  color: red;
}

.form-input
{
  color: white;
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
}

.widget
{
  color: white;
  background-color: black;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.table-striped
{
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid white;
  width: 50%;
  text-align: center;
  background-color: black;
  color: white;

}

.table-striped th, td
{
  text-align: left;
  padding: 10px;
}

.table-striped tr:nth-child(even) {
  background-color: gray;
}
